src/main/mule/implementation/register-covid-case.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	<flow name="post:\cases:application\json:uhub-sapi-config">
        <logger level="INFO" doc:name="Logger" doc:id="deca4788-507e-492e-b6ef-341537881a53" />
		<ee:transform doc:name="Transform Message" doc:id="fe71fae7-12e1-496a-8403-1bc32f391c12" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
  source: payload.source,
  case_type:payload.caseType,
  first_name:payload.firstName,
  last_name:payload.lastName,
  phone:payload.phone,
  email:payload.email,
  date_of_birth:payload.dateOfBirth as String {format: "YYYY-MM-DD"},
  national_id: payload.nationalID,
  national_id_type:payload.nationalIDType,
  street_address:payload.address.streetAddress,
  city:payload.address.city,
  state:payload.address.state,
  postal:payload.address.postal,
  country:payload.address.country,
  create_date: now() as String {format: "yyyy-MM-dd"},
  update_date: now() as String {format: "yyyy-MM-dd"},
  create_by: "UHIS",
  update_by: "UHIS"       
}]]></ee:set-payload>
			</ee:message>
			<ee:variables >
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="Flow Reference" doc:id="02a05eee-f525-4b95-8b7d-a7a236156f65" name="insert-case-sub-flow" />
		<ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  caseID: payload[0].case_id
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
	</mule>
