src/main/mule/implementation/update-covid-case.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	<flow name="put:\cases:application\json:uhub-sapi-config" doc:id="31860bdc-7866-4114-8a5c-0b4edd9f8996">
        <set-variable value='#[attributes.headers."x-correlation-id" default uuid()]' doc:name="Set CorrelarionID" doc:id="6d79600e-22d0-4f6d-adcb-3719f922b81d" variableName="correlationid"/>
		<logger level="DEBUG" doc:name="Logger" doc:id="7ef1dd65-cbcb-4fb9-a72e-e92368aaaf43" message="TransactionId: #[vars.transactionid], CorrelationId: #[vars.correlationid]. Messae: Update process started."/>
		<ee:transform doc:name="prepare update case payload" doc:id="8e53417f-89fc-42fa-abc3-4e334485f4ca" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
    case_id: payload.caseId as Number,
	source: payload.source,
	case_type: payload.caseType,
	first_name: payload.firstName,
	last_name: payload.lastName,
	phone: payload.phone,
	email: payload.email,
	date_of_birth: payload.dateOfBirth as String {format: "yyyy-mm-dd"},
	national_id: payload.nationalID,
	national_id_type: payload.nationalIDType,
	street_address: payload.address.streetAddress,
	city: payload.address.city,
	state: payload.address.state,
	postal: payload.address.postal,
	country:payload.address.country,
    create_date: now() as String {format: "yyyy-MM-dd"},
    update_date: now() as String {format: "yyyy-MM-dd"},
	create_by: "UHIS",
	update_by: "UHIS"
}]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="case_id" ><![CDATA[%dw 2.0
output application/java
---
{
	caseId: payload.caseId as Number	
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="Flow Reference" doc:id="c784c7c2-0eea-484a-b5bb-7127043df862" name="update-covid-case" />
		<ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
vars.case_id]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
	</mule>
